/*
	RESET & BASIC SETUP
*/

* {
	margin: 0px; 
	padding: 0px; 
}

body { 
	font-size: 62.5%; 
	font-family: 'Lucida Grande', Helvetica, sans-serif;
	background-image: url(film_top_bottom.png);

    background-size:cover;
     /*css hack for ie*/     
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.film_top_bottom.png',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='film_top_bottom.png',sizingMethod='scale')";

	color: #999; 
	padding: 170px;
}

tr { 
	vertical-align: top;
}

/*
	STRUCTURE
*/
.post { 
	width: 600px; 
}


/*
	TYPOGRAPHY
*/
p { font-size: 1.2em; margin: 0 0 15px 0; }
h1 { font-family: Helvetica, sans-serif; font-size: 4.0em;
							  letter-spacing: -1px; color: black; }
h2 { font-family: Helvetica, sans-serif; font-size: 3.0em;
							  letter-spacing: -1px; color: #ccc; }
a { color: #0066cc; }
a:hover { color: #ccc; }